*,html,body{
    font-family: 'ABeeZee';
    margin: 0;
    padding: 0;
    background-color: black;
}
.first-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: limegreen;
    font-size: 50px;
}
.second-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}
.container-image{
    display: grid; 
    height: 600px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.upper-left{
    color: white;
}
.bottom-left{
    color: white;
}
.upper-right{
    color: white;
}
.bottom-right{
    color: white;
}

/*.upper-left{
/*grid-area: header;
}
.bottom-left{
grid-area: header;
}
.upper-right{
grid-area: footer;
}
.bottom-right{
grid-area: footer;
}


